@import "styles/variables";
.background{
    background-color: antiquewhite;
    padding: 15px 0;
}
h2{
    text-align: center;
    color: $cor_principal;
}
.flex{
    h3{
        text-align: center;
    }
    >*{
        padding: 0 15px;
    }
    @media(min-width: 768px){
        display: flex;
        max-width: 1200px;
        margin: auto;
        align-items: center;
        >*{
            flex: 1;
        }
    }
}
.secao4_titulo{
    margin-bottom: 10px;
    
}