@import "styles/variables";
 
.busca{
    text-align: right;
    position: relative;
    input{
        height: 30px;
        width: 200px;
        background: transparent;
        border: 2px solid $cor_principal;
        padding: 5px;
        padding-right: 20px;
    }
    .icone{
        position: absolute;
        right: 20px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
}